extends layout
block content
    div.layui-layout.layui-layout-admin
        div.layui-header
            div.layui-logo
                h1 #{title}

            ul.layui-nav.layui-layout-left
                li.layui-nav-item
                    a(href="/") 首页
                li.layui-nav-item
                    a(href="javascript:;") 管理
                    dl.layui-nav-child
                        dd
                            a(href="javascript:;") 二级


            ul.layui-nav.layui-layout-right
                li.layui-nav-item
                    a(href="javascript:;")
                        img(src="//t.cn/RCzsdCq").layui-nav-img
                        | 我
                    dl.layui-nav-child
                        dd
                            a(href="javascript:;") 二级
                li.layui-nav-item
                    a(href="javascript:;") 二级

        div.layui-side.layui-bg-black
            div.layui-side-scroll
                ul(lay-shrink="all").layui-nav.layui-nav-tree
                    //- layui-nav-itemed 为默认展开
                    li.layui-nav-item
                        a(href="/") 首页
                    li.layui-nav-item
                        a 会员管理
                        dl.layui-nav-child
                            dd
                                a(href="javascript:;",data-title="会员列表",data-id="3",data-url="http://www.qq.com").site-url 会员列表
                            dd
                                a(href="javascript:;") 会员积分
                    li.layui-nav-item
                        a 资源管理
                        dl.layui-nav-child
                            dd
                                a(href="javascript:;") 资源分类
                            dd
                                a(href="javascript:;") 资源列表
                    li.layui-nav-item
                        a 帖子管理
                        dl.layui-nav-child
                            dd
                                a(href="javascript:;") 帖子分类
                            dd
                                a(href="javascript:;") 帖子列表
                    li.layui-nav-item
                        a 文章管理
                        dl.layui-nav-child
                            dd
                                a(href="javascript:;",data-title="文章分类",data-id="2",data-url= basePath + "/articleType").site-url 文章分类
                            dd
                                a(href="javascript:;",data-title="文章列表",data-id="3",data-url= basePath + "/article").site-url 文章列表
                    li.layui-nav-item
                        a 系统设置
                        dl.layui-nav-child
                            dd
                                a(href="javascript:;") banner管理
                            dd
                                a(href="javascript:;") 用户反馈
                            dd
                                a(href="javascript:;") 系统通知
                            dd
                                a(href="javascript:;") 参数设置

        div.layui-body
            div(lay-filter="contentnav",lay-allowClose="true").layui-tab.layui-tab-brief
                ul.layui-tab-title
                    li.layui-this 首页
                div.layui-tab-content
                    div.layui-tab-item.layui-show
                        p 这是首页
        div.layui-footer
            | 2019-02-07 WANGYANGYANG