doctype html
html
    head
        title= title
        - var basePath = "http://localhost:3000"
        link(rel='stylesheet', href= basePath + '/thirdParty/layui/css/layui.css')
        link(rel='stylesheet', href= basePath + '/stylesheets/style.css')
        block page_style
    body(ng-app="app",ng-controller="mainController").layui-layout-body

        block content


        script(src=basePath + '/thirdParty/angular.1.6.9/angular.min.js')
        script(src=basePath + '/thirdParty/layui/layui.js')
        script(type='text/javascript', src=basePath + '/javascripts/main.js')
        block page_script